
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');



*
{
  padding: 0%; margin: 0%;
  box-sizing: border-box;
  border: none; outline: none;
  transition: all 0.22s linear;
  font-family: 'Gideon Roman', cursive;
  text-decoration: none;
}







header
{
   display: flex;
   position: fixed;
   width: 100%; 
   left: 0%; top: 0%;
   padding: 1.5rem 5rem;
   align-items: center;
   justify-content: center;

   a 
   {
       text-transform: uppercase;
       color: aliceblue; font-weight: bold;
       margin:0 auto;    font-size: .9rem;

       &.logo
       {margin: 0 8%;
          

           img 
           {
               max-height:  4rem;
           }
       }
   }
}

.home
{
    background:linear-gradient(rgba(40,40,45,.8),rgba(40,40,45,.8)), url('/img/bg.png') no-repeat;
    background-position: center;  background-size: cover;      max-height: 100vh;     overflow: hidden;
}






















@media (max-width:768px)
{
    html 
    {
        font-size: 50%;
    }
    header
    {
        padding: 1.5rem 2rem;
    }
}






@media (max-width:450px)
{
    html 
    {
        font-size: 40%;
    }
    header
    {
        padding: 1rem 1.7rem;
    }
}